<div class="a-card" style="padding:0px;min-height:20px;">
    <!-- <h1>{{card.tag}}</h1> -->
    <div data-ng-if="card.showIndex" class="cardOverlay" >
        <div class="row">
            <span class="glyphicon glyphicon-remove-sign pull-right" style="color:white;margin-right:20px;font-size:1.7em" data-ng-click="card.showIndex=!card.showIndex"></span>
            
            <!-- <div class="cleafix"></div> -->
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-4 col-md-offset-4 col-xs-offset-4"><p style="text-align:center"><button style="color:white;width:100%" href="#" class="btn btn-medium center-content radius3 bg-white" 
                socialshare
                socialshare-provider="twitter"
                socialshare-url="http://greenberry-greenberry.rhcloud.com/odm"
                socialshare-media="http://greenberry-greenberry.rhcloud.com/static/{{card.filename}}"
                socialshare-hashtags="tennis, opendemoselle, metz">
                <i class="fa fa-facebook"></i>Tweet me
            </button></p></div>
           
            
        </div>
    </div>
    <img src="" data-ng-src="static/{{card.filename}}" data-ng-click="card.showIndex=!card.showIndex" style="width:100%">
</div>