<!-- <navbar></navbar> -->

<navbar></navbar>
<!-- <div class="container"> -->
<!-- <br/> -->
<!-- <form>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Message" ng-model="newThing">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
    </span>
  </div>
</form> -->
<!-- <div class="row">
  <div ng-repeat="thing in awesomeThings" class="tweet">
    <div class="row">
      <h2 class="col-xs-2">
      <a ng-href="/users/{{thing.user._id}}">{{thing.user.name}}</a>
      </h2>
      <div class="arrow_box col-xs-10">
        <button ng-if="isMyTweet(thing)" type="button" class="close" ng-click="deleteThing(thing)">&times;</button>
        <h2 class="message">
        {{thing.name}}
        </h2>
        <span style="float: right;">({{thing.createdAt|fromNow}})</span>
        <button ng-if="isMyTweet(thing)" type="button" class="close" ng-click="deleteThing(thing)">&times;</button>
        <button ng-if="isMyStar(thing)" type="button" class="close" ng-click="unstarThing(thing)">
        <span class="glyphicon glyphicon-star" style="color: #CF7C00;" ></span>
        </button>
        <button ng-if="!isMyStar(thing)" type="button" class="close" ng-click="starThing(thing)"  >
        <span class="glyphicon glyphicon-star-empty"></span>
        </button>
      </div>
    </div>
  </div>
</div>
</div> -->
 <section  class="container-fluid homeBack" >
    
      
   
        
        
      </section>
      
      </div> <!-- /container -->   
<footer></footer>