body,html {
	background-color: #f1f1f1;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
b {font-weight: 400;}
h3 {font-weight: 300;font-style: italic;}
img {max-width: 100%;height: auto;}
.container-fluid {padding: 0 !important;}

header {background-color:#FFF;width: 100%;border-top: 3px solid #9fdc3b;margin-bottom: 20px;}
header .logo {text-align: center;  padding: 50px;}

section {margin-bottom: 20px; }

section.color {background-color:#9fdc3b;}
section.color {letter-spacing:0.04em;}
section.color h3 {font-size: 2em;}
section.color p {font-size: 1.1em;}
section.color small {font-size: 0.9em;}
section#pb-solution {text-align: right;}
section.color .blue {background-color:#65c7eb;min-height: 100%;color:#f1f1f1;padding-bottom: 20px;}
section.color .green {background-color:#9fdc3b;min-height: 100%;}

footer {background-color:#9fdc3b; min-height: 50px;padding-top:10px;}
footer .greenberry {padding-top: 5px; text-align: right;}
section.white {background-color: #FFF; text-align: center;padding-top: 50px;}

section.white .partenaire {padding-top: 38px;}
section.white .coll,section.white .citoyen {padding-top: 25px;}
section.white .baseline {padding-top: 20px;color:#65c7eb;font-size: 1.5em;padding-bottom: 40px;}
#pb-solution { }
#pb-solution .blue{ }
#reals .iconos{padding-bottom: 40px;}
#contact {padding-bottom: 40px;}
#contact h3 {color:#9fdc3b;}
#contact h3 span{color:#65c7eb;}

/*@media (min-width: 768px) { 
header{min-height:370px;}
header .logo {margin-top: 110px; padding: 0;}
section {height: 270px;}

 }*/
@media (min-width: 768px) { 
	section.color {letter-spacing:0.08em;}
	 section.color h3 {font-size: 2em;}
	section.color p {font-size: 1.7em;}
	section.color small {font-size: 0.6em;}

}



