<div class="container test">
<h4 style="text-align:center">Vous aussi, publiez votre Selfie sur le mur d'image du court central des Arènes !</h4>	
	<centered>
       
		<div
				class="btn  btn-upload btn-CustomUpload"
				upload-button
				url="/api/pictures"
				on-success="onSuccess(response)"
			><div class="pict glyphicon glyphicon-camera" aria-hidden="true"></div>
		</div>
	
    </centered>
	
</div>