.btn-CustomUpload{
	/*width:100%;*/
	/*height: 100%;*/
	font-size: 7.5em;
	pointer-events:all;
	background-image: url('../../assets/images/tennis.png');
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 320px;
	min-width: 320px;
	color: white;
	 -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	border-radius: 50%
	/*min-height: 200px;*/
}
.btn-CustomUpload:hover{
    color: #F5F5F5;
    text-decoration: none;
    font-size: 8em;
}
.btn-CustomUpload:active {
	background-image: url('../../assets/images/tennis.png');
	background-repeat: no-repeat;
	background-position: center center;
    min-width: 300px;
    min-height: 300px;
    background-size: 283px;
     -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75); 
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75) ;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75) ;
}
.btn-CustomUpload input{
	width: 100%;
	height: 100%;
}
.btn-CustomUpload .pict{
	padding: 29%;
	text-shadow: 2px 2px rgba(0,0,0,0.2);
}
/*https://github.com/iameugenejo/angular-centered/angular-centered.css*/
.angular-center-container {
  position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	display:table;
	pointer-events: none;
    z-index:9999;
}
.angular-centered {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}