.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
}
.deckgrid .column-1-1 {
    width: 100%;
}
body{
	background: rgba(0, 0, 0, .04);
}
.a-card{
	background: #fff url(../../assets/images/spinner.gif) center center no-repeat;
    /*border: 1px solid rgba(0, 0, 0, .15);*/
    border-radius: 3px;
    margin: 0 10px 10px 0;
    position: relative;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.cardOverlay {
    height: 100%;
    z-index: 20;
    width: 100%;
    display: inline-block;
    position: absolute;
    background: rgba(0, 0, 0, .6);
}
@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }
}