 


<div class="container" style="padding-top:60px;" infinite-scroll="nextPage()" infinite-scroll-disabled="busy || noMoreData">
	<!-- <div>This is the odm view.</div>{{photos}} -->
	<div deckgrid source="photos" cardTemplate="components/templates/cart-template.html" class="deckgrid"></div>
	<div data-ng-show='busy'>Loading data...</div>
</div>