 html, body {
      height: 100%;
      width: 100%;
    }
#vizicities-viewport {
      height: 100%;
      /*left: 50%;*/
      /*margin: -360px 0 0 -640px;*/
      position: absolute;
      /*top: 50%;*/
      width: 100%;
    }
.navbar {
    position: relative;
    min-height: 50px;
     margin-bottom: 0px !important; 
    border: 1px solid transparent;
}