<navbar></navbar>
{{lon}}{{toUp}}
<input type="number" data-ng-model="lon" data-ng-placeholder="lon">
<button class="btn" ng-click="change(lon)">Change</button>
<button class="btn" ng-click="ceeBati('assets/data/ceeIRIS.geojson','properties.toViz')">KWh économisé IRIS</button>
<button class="btn" ng-click="ceeBati('assets/data/buildKw.geojson','properties.toViz')">KWh économisé BATI</button>
<div id="vizicities-viewport" resize ng-style="style()"></div>
<script src="assets/static/vizi.js"></script>

<script type="text/javascript">
var elem = angular.element(document.querySelector('[ng-app]'));
var injector = elem.injector();
var $rootScope = injector.get('$rootScope');  
var promise = new Promise(function(resolve, reject) {
  resolve($rootScope);
});

promise.then(function(val) {
val.toUp = 'eqdfw';
var world = new VIZI.World({
    viewport: document.querySelector("#vizicities-viewport"),
    layersUI: true,
    picking: true,
    center: new VIZI.LatLon(48.6928794,6.1972358) // Collada
});
var moove = 0;

var controls = new VIZI.ControlsMap(world.camera, {
    viewport: world.options.viewport
});

var pickControls = new VIZI.ControlsMousePick(world.camera, {
    scene: world.scene
});

var descriptionUI = new VIZI.DescriptionUI({
    title: "qsd",
    body: "dfd"
});

var mapConfig = {
    input: {
        type: "BlueprintInputMapTiles",
        options: {
            tilePath: "https://a.tiles.mapbox.com/v3/examples.map-i86l3621/{z}/{x}/{y}@2x.png"
        }
    },
    output: {
        type: "BlueprintOutputImageTiles",
        options: {
            grids: [{
                zoom: 19,
                tilesPerDirection: 3,
                cullZoom: 17
            }, {
                zoom: 18,
                tilesPerDirection: 3,
                cullZoom: 16
            }, {
                zoom: 17,
                tilesPerDirection: 3,
                cullZoom: 15
            }, {
                zoom: 16,
                tilesPerDirection: 3,
                cullZoom: 14
            }, {
                zoom: 15,
                tilesPerDirection: 3,
                cullZoom: 13
            }, {
                zoom: 14,
                tilesPerDirection: 3,
                cullZoom: 12
            }, {
                zoom: 13,
                tilesPerDirection: 5,
                cullZoom: 11
            }]
        }
    },
    triggers: [{
        triggerObject: "output",
        triggerName: "initialised",
        triggerArguments: ["tiles"],
        actionObject: "input",
        actionName: "requestTiles",
        actionArguments: ["tiles"],
        actionOutput: {
            tiles: "tiles" // actionArg: triggerArg
        }
    }, {
        triggerObject: "output",
        triggerName: "gridUpdated",
        triggerArguments: ["tiles"],
        actionObject: "input",
        actionName: "requestTiles",
        actionArguments: ["tiles"],
        actionOutput: {
            tiles: "tiles" // actionArg: triggerArg
        }
    }, {
        triggerObject: "input",
        triggerName: "tileReceived",
        triggerArguments: ["image", "tile"],
        actionObject: "output",
        actionName: "outputImageTile",
        actionArguments: ["image", "tile"],
        actionOutput: {
            image: "image", // actionArg: triggerArg
            tile: "tile"
        }
    }]
};

var switchboardMap = new VIZI.BlueprintSwitchboard(mapConfig);
switchboardMap.addToWorld(world);
var i=0xFF0000;
var buildingsConfig = {
    input: {
        type: "BlueprintInputGeoJSON",
        options: {
            tilePath: "http://vector.mapzen.com/osm/buildings/{z}/{x}/{y}.json"
        }
    },
    output: {
        type: "BlueprintOutputBuildingTiles",
        options: {
            grids: [{
                zoom: 15,
                tilesPerDirection: 1,
                cullZoom: 13
            }],
            materialOptions: {
                color: 0x9D9D9D,
                opacity: 0.4,
                transparent: true
            },
            workerURL: "assets/static/vizi-worker.min.js"
        }
    },
    triggers: [{
        triggerObject: "output",
        triggerName: "initialised",
        triggerArguments: ["tiles"],
        actionObject: "input",
        actionName: "requestTiles",
        actionArguments: ["tiles"],
        actionOutput: {
            tiles: "tiles" // actionArg: triggerArg
        }
    }, {
        triggerObject: "output",
        triggerName: "gridUpdated",
        triggerArguments: ["tiles", "newTiles"],
        actionObject: "input",
        actionName: "requestTiles",
        actionArguments: ["tiles"],
        actionOutput: {
            tiles: "newTiles" // actionArg: triggerArg
        }
    }, {
        triggerObject: "input",
        triggerName: "tileReceived",
        triggerArguments: ["geoJSON", "tile"],
        actionObject: "output",
        actionName: "outputBuildingTile",
        actionArguments: ["buildings", "tile"],
        actionOutput: {
            buildings: {
                process: "map",
                itemsObject: "geoJSON",
                itemsProperties: "features",
                transformation: {
                    outline: "geometry.coordinates",
                    height: "properties.height",
                    minHeight: "properties.min_height"
                }
            },
            tile: "tile"
        }
    }]
};

var switchboardBuildings = new VIZI.BlueprintSwitchboard(buildingsConfig);
switchboardBuildings.addToWorld(world);

var choroplethConfig = {
    input: {
        type: "BlueprintInputGeoJSON",
        options: {
            path: val.heatLayer
        }
    },
    output: {
        type: "BlueprintOutputChoropleth",
        options: {
            colourRange: ["#d7191c","#fcac60","#fef5b4","#f8fcb9","#b2de75","#279c45"],
            layer: 100,
            infoUI: true,
            description: "Nombre de KWh économisés par IRIS"
        }
    },
    triggers: [{
        triggerObject: "output",
        triggerName: "initialised",
        triggerArguments: [],
        actionObject: "input",
        actionName: "requestData",
        actionArguments: [],
        actionOutput: {}
    }, {
        triggerObject: "input",
        triggerName: "dataReceived",
        triggerArguments: ["geoJSON"],
        actionObject: "output",
        actionName: "outputChoropleth",
        actionArguments: ["data"],
        actionOutput: {
            data: {
                // Loop through each item in trigger.geoJSON and return a new array of processed values (a map)
                process: "map",
                itemsObject: "geoJSON",
                itemsProperties: "features",
                // Return a new object for each item with the given properties
                transformation: {
                    outline: "geometry.coordinates[0]",
                    value: val.heatProp
                }
            }
        }
    }]
};
// var kmlConfig = {
//   input: {
//     type: "BlueprintInputGeoJSON",
//     options: {
//       path: "assets/data/cee_poi.geojson"
//     }
//   },
//   output: {
//     type: "BlueprintOutputDebugPoints",
//     options: {}
//   },
//   triggers: [{
//     triggerObject: "output",
//     triggerName: "initialised",
//     triggerArguments: [],
//     actionObject: "input",
//     actionName: "requestData",
//     actionArguments: [],
//     actionOutput: {}
//   }, {
//     triggerObject: "input",
//     triggerName: "dataReceived",
//     triggerArguments: ["geoJSON"],
//     actionObject: "output",
//     actionName: "outputPoints",
//     actionArguments: ["data"],
//     actionOutput: {
//       data: {
//         process: "map",
//         itemsObject: "geoJSON",
//         itemsProperties: "features",
//         transformation: {
//           coordinates: ["geometry.coordinates[0]", "geometry.coordinates[1]"],
//           value: "properties.toViz",
//         }
//       }
//     }
//   }]
// };

  // var switchboardKML = new VIZI.BlueprintSwitchboard(kmlConfig);
  // switchboardKML.addToWorld(world);

var switchboardChoropleth = new VIZI.BlueprintSwitchboard(choroplethConfig);
switchboardChoropleth.addToWorld(world);

var clock = new VIZI.Clock();

var update = function() {
    var delta = clock.getDelta();

    world.onTick(delta);
    world.render();

    window.requestAnimationFrame(update);
    //console.log('test');
    if(val.toAnimate){
      // console.log(val.toAnimate);
      controls.controls.target.x = controls.controls.target.x + 1;
      controls.controls.update();
    }
    console.log(val.heatLayer);
};


update();
});
</script>